#dato0{
    color: red;
    font-size: 30px;
}

.pato{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align-last: right;
    background-color: salmon;
}
div{
    height: 400px;
    width: 400px;
}